.week {
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: 12rem;
  margin: 0.25rem;
  padding: 1rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  gap: 2rem;
  font-size: 1.3em;

  .date-range {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    white-space: nowrap;
  }

  .compliance {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .media {
    display: flex;
    flex: 1 1 0;
    min-width: 0;
    gap: 0.5rem;

    .info {
      display: none;
    }

      img {
        flex: 1 1 auto;
        min-width: 0;
        object-fit: contain;
      }
    }
}

@media screen and (max-width: 1000px) {
 .week {
    flex-wrap: wrap;
    flex-direction: column;
    width: 80vw;
    height: auto;
      gap: 1rem;


    .date-range {
      width: 100%;
    }

    .compliance {
      width: 100%;
    }

    .media {
      width: 100%;
      flex-direction: column;
      flex: 0 0 auto;
      gap: 1rem;

       .info {
        display: block;
        font-size: 0.9rem;
      }

      img {
        flex: 0 0 auto;
        width: 100%;
      }
    }
  }
}
