.Week {
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: 12rem;
  margin: 0.25rem;
  border-radius: 0.2rem;
  padding: 1rem;
  font-size: 0.8rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  gap: 2rem;
  font-size: 1.3em;

  > div {
    position: relative;
  }

  > div:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -1rem;
    height: 50%;
    width: 1px;
    background:  radial-gradient(circle at center,  #94bbe9, #eeaeca);
  }

  .date-range {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8rem;
  }

  .compliance {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
	  flex: 1;
	/* max-width: 70%; */


    img {
      height: 10rem;
    }
  }
}
